.bigger-picture-active {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.bigger-picture {
  background: white;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.bigger-picture img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
