.bigger-picture-active {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.bigger-picture {
  background: white;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.bigger-picture-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.bigger-picture-hidden {
  display: none;
}

.bigger-picture-slide.bigger-picture-feature {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.bigger-picture-slide.bigger-picture-thumb {
  cursor: pointer;
  height: auto !important;
  width: 10% !important;
}

.bigger-picture-slide.bigger-picture-right-thumb {
  left: 96%;
}

.bigger-picture-slide.bigger-picture-left-thumb {
  left: -6%;
}

.bigger-picture-caption {
  background-color: rgba(255, 255, 255, .9);
  bottom: 0;
  box-sizing: border-box;
  font-size: 14px;
  left: 0;
  line-height: 1.4em;
  padding: 10px 30px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.bigger-clicker {
  background: blue;
  height: 20px;
  left: 20px;
  position: fixed;
  top: 20px;
  width: 20px;
}

.bigger-closer {
  cursor: pointer;
  font-size: 18px;
  height: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 20px;
}
